/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(246, 250, 225);
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

:root {
  --main-bg-color: lightyellow;
}

h1{
  color: #6D9B8D;
}

h2{
  color: #6D9B8D;
}

h3{
  color: #6D9B8D;
}

h4{
  color: #6D9B8D;
}

h5{
  color: #6D9B8D;
}


a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}



header .logo img {
  max-width: 150px;
}



/* Welcome Message */
.welcome {
  /* background-image: url("images/wheat.jpg"); */ 
  width: 100%; 
  height: 200px; 
  /*background-color: #f4a300;*/
  color: white;
  padding: 20px 0;
  text-align: center;
}

.welcome h1 {
  font-size: 36px;
  color: black;
}

.welcome p {
  font-size: 18px;
  margin-top: 20px;
  color: black;
}

/* Featured Products */
.featured-products {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
  background-color: #ffffff;
}

.featured-products h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
}

.product {
  text-align: center;
  width: 30%;
}

.product img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.product p {
  font-size: 16px;
  margin-top: 10px;
}

.btn {
  display: inline-block;
  background-color: #6c4f3d;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background-color: #f4a300;
}

/* Farm Highlights */
.farm-highlights {
  background-color: #e6e6e6;
  padding: 40px 20px;
}

.farm-highlights h2 {
  text-align: center;
  margin-bottom: 20px;
}

.farm-highlights ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 18px;
}

.farm-highlights ul li {
  padding: 10px 20px;
  background-color: #f4a300;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

/* Activities Section */
.activities {
  text-align: center;
  background-color: #ffffff;
  padding: 40px 20px;
}

.activities h2 {
  font-size: 28px;
}

.activities p {
  font-size: 18px;
  margin-top: 10px;
}

/* Footer */
footer {
  background-color: #6D9B8D;
  color: white;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-links ul {
  display: flex;
  gap: 20px;
}

footer .footer-links a {
  color: white;
  font-weight: bold;
}

footer .social-media a {
  background-color: #f4a300;
  padding: 10px 15px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  margin-left: 10px;
}

footer .social-media a:hover {
  background-color: #6c4f3d;
}

.mybackground{
  background-image: url("images/wheat.jpg"); 
  width: 100%; 
  height: 100px; 
}

/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* Header Styles */
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  color: #f39c12;
}

/* Product Categories Styles */
#categories {
  background-color: #fff;
  padding: 40px 0;
  text-align: center;
}

#categories h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.category-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.category {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.category h3 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.category p {
  font-size: 1.2em;
}

.category img {
  width: 80%;
  height: 180px;
}


/* Featured Items Styles */
#featured-items {
  background-color: #f9f9f9;
  padding: 40px 0;
  text-align: center;
}

#featured-items h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.featured-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.featured-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
}

.featured-item img {
  width: 100%;
  height: 120px;
  border-radius: 8px;
}

.featured-item h4 {
  margin-top: 10px;
  font-size: 1.5em;
}

.featured-item p {
  color: #f39c12;
  font-size: 1.2em;
  margin-top: 10px;
}

/* Call-to-Action Styles */
#cta {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

#cta h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.cta-button {
  padding: 15px 30px;
  background-color: #f39c12;
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #e67e22;
}


/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* Header and Navigation */
header {
  background-color: #6D9B8D;
  padding: 15px 0;
  text-align: center;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline;
  margin: 0 15px;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

header nav ul li a:hover,
header nav ul li a.active {
  color: #ffb84d;
}

/* Activities Section */
.activities-overview {
  padding: 30px 20px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.activities-overview h1 {
  font-size: 36px;
  color: #6D9B8D;
  text-align: center;
  margin-bottom: 20px;
}

.activities-overview p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
}

.activity-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  padding: 0;
}

.activity-item {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.activity-item:hover {
  transform: translateY(-5px);
}

.activity-item h2 {
  font-size: 24px;
  color: #6D9B8D; color:
}

.activity-item p {
  font-size: 16px;
  color: #555;
}

/* Event Calendar Section */
.event-calendar {
  margin-top: 40px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.event-calendar h2 {
  font-size: 28px;
  color: #6D9B8D;
  text-align: center;
  margin-bottom: 20px;
}

.event-calendar ul {
  list-style-type: none;
  padding-left: 0;
}

.event-calendar ul li {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}

/* Call to Action */
.cta {
  text-align: center;
  margin-top: 40px;
}

.cta-button {
  background-color: #ffb84d;
  color: #fff;
  padding: 15px 30px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #e69138;
}


/* Contact Section */
.contact-info {
  padding: 30px 20px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-details{
  display: inline-grid;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
}


.contact-item {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.opening-times {
  margin-top: 40px;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
}

.opening-times h2 {
  font-size: 28px;
  color: #6D9B8D;
  text-align: center;
}

.opening-times p {
  font-size: 18px;
  color: #555;
  text-align: center;
}

/* Contact Form Section */
.contact-form {
  padding: 30px 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

.contact-form h2 {
  font-size: 28px;
  color: #6D9B8D;
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 18px;
  color: #555;
  margin-bottom: 8px;
}

.form-group input, .form-group select, .form-group textarea {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  resize: vertical;
}

.submit-btn {
  background-color: #ffb84d;
  color: #fff;
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #e69138;
}

/* Map Section */
.map {
  margin-top: 40px;
  text-align: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}


/* About Section */
.about {
  background-color: #fff;
  padding: 40px 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.8;
}

ul.features {
  list-style-type: none;
  margin: 20px 0;
}

ul.features li {
  background: url('check-icon.png') no-repeat left center;
  background-size: 20px 20px;
  padding-left: 30px;
  font-size: 16px;
  margin-bottom: 10px;
}

.photos {
  background-color: #fff;
  padding: 40px 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  color: #6D9B8D;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 1.8;
}

.category {
  margin-bottom: 40px;
}

.category h2 {
  color:  #6D9B8D;
  font-size: 24px;
  margin-bottom: 20px;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.photo-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.photo-item img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.photo-item:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.photo-item:hover .overlay {
  opacity: 1;
}

.overlay p {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}





